---
title: Prototyping
---
.page
  .grid.border-bottom.mbxxl.pvxxl
    .col
      %h1
        .icon.icon-baseline
          = partial 'images/svg-lib/pivotal_pws.svg'
        Pivotal Web Services
    .col.txt-r
      %div Pivotal Software Inc.
      %div 875 Howard
      %div SF CA
      %div USA
      %div email@email.com
  %h1.mbxl Billing Statement for ACME Org
  %h4 Billing cycle: Sept - Oct
  %table.table.table-no-borders
    %tr.h5
      %td content
      %td.txt-r 18.88
    %tr.h5
      %td content
      %td.txt-r 18.88
    %tr.h5.border-bottom
      %td content
      %td.txt-r 18.88
    %tr.h5
      %td
      %td.txt-r Subtotal $190
    %tr.h5
      %td content
      %td.txt-r $10
    %tr.h5
      %td content
      %td.txt-r $10
    %tr.h5
      %td
      %td.txt-r
        %span.h3.em-high Amount Due:
        %span.h1.em-high $799
