---
title: Prototyping
---

<div class="page">
  <div class="grid">
    <div class="col">
      <h1>
        <div class="icon icon-baseline">
          <%= partial 'images/svg-lib/pivotal_pws.svg' %>
        </div>
        Pivotal Web Services
      </h1>
    </div>
    <div class="col txt-r">
      Address
    </div>
  </div>
</div>
