---
title: Prototyping
---

.txt-c.mtxxxl
  .icon{:style => "font-size:64px;"}
    =partial 'images/svg-lib/rocket.svg'
  %h1.mbxl Begin Prototyping With Pivotal UI
  %p
    %div
      Use this index as a jumping off point for your prototypes.
    %div
      Fork the
      %a{:href => "https://github.com/pivotal-cf/pui-middleman-starter", :target => "_blank"} pui-middleman-starter repo
      to make your own!
  %ul.list-unstyled
    %li
      Resources:
    %li
      %a{:href => "http://styleguide.pivotal.io"} Pivotal UI Styleguide
    %li
      %a{:href => "http://pivotalicons.cfapps.io/"} Pivotal Icon Library
    %li
      %a{:href => "https://github.com/pivotal-cf/pivotal-ui"} Pivotal UI Github Repo
