---
title: Prototyping
---

.txt-c.mtxxxl
  .icon{:style => "font-size:64px;"}
    =partial 'images/svg-lib/rocket.svg'
  %h1 Begin PUI Prototyping
  %p
    Use this index as a jumping off point for your prototypes.
  %ul.list-unstyled
    %li
      %a{:href => "http://styleguide.pivotal.io"} Pivotal UI Styleguide
    %li
      %a{:href => "http://pivotalicons.cfapps.io/"} Pivotal Icon Library
    %li
      %a{:href => "https://github.com/pivotal-cf/pivotal-ui"} Pivotal UI Github Repo
